<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Title -->
	<title>Pixio: Shop & eCommerce HTML Template | DexignZone</title>
	
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="DexignZone">
	<meta name="robots" content="index, follow">
	<meta name="format-detection" content="telephone=no">
	
	<meta name="keywords" content="template, ui kit, clothing, delivery, ecommerce, fashion, order, shopping, store, fashion design, fashion store, responsive design, fashion showcase, modern design, fashion technology, e-shop, ecommerce web, eCommerce Website, minimal shop, online shop, online shopping, pixio, user experience, Design Elements, Trendy, Stylish, User-Friendly, Navigation, Product Display, Branding, Development, Visual Design, UI/UX, Website, Web Design">
	<meta name="description" content="Elevate your online retail presence with Pixio Shop & eCommerce HTML Template. Crafted with precision, this responsive and feature-rich template provides a seamless and visually stunning shopping experience. Explore a world of possibilities with modern design elements, intuitive navigation, and customizable features. Transform your website into a dynamic online storefront with Pixio, where style meets functionality for a captivating and user-friendly eCommerce journey.">
	
	<meta property="og:title" content="Pixio: Shop & eCommerce Bootstrap HTML Template | DexignZone">
	<meta property="og:description" content="Elevate your online retail presence with Pixio Shop & eCommerce HTML Template. Crafted with precision, this responsive and feature-rich template provides a seamless and visually stunning shopping experience. Explore a world of possibilities with modern design elements, intuitive navigation, and customizable features. Transform your website into a dynamic online storefront with Pixio, where style meets functionality for a captivating and user-friendly eCommerce journey.">
	<meta property="og:image" content="https://pixio.dexignzone.com/xhtml/social-image.png">
	
	<!-- TWITTER META -->
	<meta name="twitter:title" content="Pixio: Shop & eCommerce Bootstrap HTML Template | DexignZone">
	<meta name="twitter:description" content="Elevate your online retail presence with Pixio Shop & eCommerce HTML Template. Crafted with precision, this responsive and feature-rich template provides a seamless and visually stunning shopping experience. Explore a world of possibilities with modern design elements, intuitive navigation, and customizable features. Transform your website into a dynamic online storefront with Pixio, where style meets functionality for a captivating and user-friendly eCommerce journey.">
	<meta name="twitter:image" content="https://pixio.dexignzone.com/xhtml/social-image.png">
	<meta name="twitter:card" content="summary_large_image">
	
	<!-- CANONICAL URL -->
	<link rel="canonical" href="https://pixio.dexignzone.com/xhtml/index.html">
	
	<!-- FAVICONS ICON -->
	<link rel="icon" type="image/x-icon" href="{{ '/assets/ecommerce_awesome/images/favicon.png' }}">
	
	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- STYLESHEETS -->
	<link rel="stylesheet" type="text/css" href="{{ '/assets/ecommerce_awesome/icons/iconly/index.min.css' }}">
	<link rel="stylesheet" type="text/css" href="{{ '/assets/ecommerce_awesome/vendor/magnific-popup/magnific-popup.min.css' }}">	
	<link rel="stylesheet" type="text/css" href="{{ '/assets/ecommerce_awesome/vendor/bootstrap-select/dist/css/bootstrap-select.min.css' }}">
	<link rel="stylesheet" type="text/css" href="{{ '/assets/ecommerce_awesome/vendor/swiper/swiper-bundle.min.css' }}">
	<link rel="stylesheet" type="text/css" href="{{ '/assets/ecommerce_awesome/vendor/nouislider/nouislider.min.css' }}">
	<link rel="stylesheet" type="text/css" href="{{ '/assets/ecommerce_awesome/vendor/animate/animate.css' }}">
	<link rel="stylesheet" type="text/css" href="{{ '/assets/ecommerce_awesome/vendor/lightgallery/dist/css/lightgallery.css' }}" >
    <link rel="stylesheet" type="text/css" href="{{ '/assets/ecommerce_awesome/vendor/lightgallery/dist/css/lg-thumbnail.css' }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/ecommerce_awesome/vendor/lightgallery/dist/css/lg-zoom.css' }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/ecommerce_awesome/vendor/slick/slick.css' }}">
	
	<!-- Custom Stylesheet -->
	<link rel="stylesheet" type="text/css" href="{{ '/assets/ecommerce_awesome/css/style.css' }}">
	<link class="skin" type="text/css" rel="stylesheet" href="{{ '/assets/ecommerce_awesome/css/skin/skin-1.css' }}">
	
	<!-- GOOGLE FONTS-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

</head>	
<body id="bg">
<div class="page-wraper">

	<div id="loading-area" class="preloader-wrapper-4">
		<img src="{{ '/assets/ecommerce_awesome/images/loading.gif' }}" alt="">
	</div>